

<div class=" ">
  <hr>
    <div class="row">
        <div class="col" >
            <button *ngIf="pag"  class="btn btn-success" (click)="anterior(pag)">Regreso a Personajes</button>
        </div>
      
        <div class="col sig">
           
        </div>
    </div>
    <hr>
<br>
<div class="card mb-3 text-center" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="personaje.image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{personaje.name}}</h5>
          <p class="card-text">Especie: {{personaje.species}}</p>
          <p class="card-text">Genero: {{personaje.gender}}</p>
          <p class="card-text">Origen: {{personaje.origin.name}} </p>
          <p class="card-text"><small class="text-muted">Estado: {{personaje.status}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>